/* Alle paginas */
body {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    text-align: left;
    font-family: 'abril fatface';
    list-style-type: none;
    width: 100%;
    font-variant-caps: all-small-caps;
    margin-bottom: 0.2em;
    margin-top: 0em;
}

h2 {
    font-variant-caps: all-small-caps;
    margin-bottom: 0em;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 0;
}

p {
    font-family: 'lato';
    margin-top: 0em;
    text-size-adjust: 1.6%;
}

li {
    text-align: center;
    font-family: 'abril fatface';
    list-style-type: none;
    width: 100%;
    margin-top: 70px;
    font-variant-caps: all-small-caps;
    font-size: x-large;
}

li:first-of-type {
    margin-top: 1.5em;
}

a {
    color: black;
}

header:not(.home header, .closet header) {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    margin-top: 10px;
    margin-right: 10px;

}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:not */

.img {
    background-color: white;
    box-shadow: 50px 50px #516953
}

.logo {
    width: 100%;
    height: 80px;
}

body header a img {
    width: 100%;
    height: 80px;
}


/* Index.html */

.home h1,
.closet h1 {
    text-align: center;
    margin-top: 1em;
}

.closet a {
    display: block;
    width: 100%;
    height: 100vh;
}

.closet {
    background-image: url(afbeeldingen/start.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* start.html */

.home {
    background-image: url(afbeeldingen/home.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home header :first-of-type {
    text-decoration: none;
}

.start h1 {
    text-align: center;
    font-family: 'abril fatface';
    list-style-type: none;
    width: 100%;
    font-variant-caps: all-small-caps;
    margin-bottom: 0.4em;
    margin-top: 1.34em;
}

/* hoe.html */

.hoe {
    background-image: url(afbeeldingen/hoe.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hoe h2:first-of-type {
    margin-bottom: 0em;
    margin-top: 0em;
}

.hoe h2:nth-of-type(2) {
    margin-top: 220px;
    text-align: right;
    margin-bottom: 0em;
}

.hoe p {
    margin-top: 10px;
}

.hoe p:nth-of-type(2) {
    text-align: right;
}

/* locaties.html */

.locaties p {
    background-color: white;
    margin: 0em;
    padding: 1em;
    box-shadow: 1em 1em #516953
}

.locaties img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.locaties {
    background-image: url(afbeeldingen/locaties.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.locaties h2:first-of-type {
    margin-top: 0em;
}

.locaties h2 {
    margin-bottom: 10px;
}

/* kasten.html */

.kasten p {
    margin-right: 10px;
}

.kasten {
    background-image: url(afbeeldingen/kast.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kasten main img {
    box-shadow: 1em 1em #516953;
    width: 150px;
    height: 150px;
}

.float1 {
    float: left;
}

.float2 {
    float: right;
}

.margin {
    margin-left: 170px;
}

/* about.html */

.about img {
    width: 150px;
    height: 150px;
}

.about {
    background-image: url(afbeeldingen/about.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textflex {
    display: flex;
    justify-content: space-evenly;
}

.right {
    margin-left: 30px;
}

.center {
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

/* about.html en locaties.html */

.purple {
    margin: 0em;
    width: 14em;
    box-shadow: 1em 1em #5d5491;
}

.box {
    margin: 0em;
    box-shadow: 1em 1em #516953
}


.box p:nth-of-type(2) {
    margin-top: 2em;
}

.imageflex {
    display: flex;
    align-items: flex-end;
}

.imageflexcontent p {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

/* nav ul li:first-of-type 
:nth-of-type(2) */